<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itmk.web.drom_repair.mapper.DromRepairMapper">
    <update id="update" parameterType="com.itmk.web.drom_repair.entity.DromRepair">
        UPDATE drom_repair
        SET status     = #{status},
            repair_res = #{repairRes}
        WHERE repair_id = #{repairId}
    </update>

</mapper>
